// Place all the styles related to the Calculations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calculator-form {
  .btn {
    margin-right: 10px;
  }
}